
<h1>Zyski</h1>
<nav>
            <ul>
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                    {%csrf_token%}
                    <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
{% if all_gains_list %}
<style>
table, th, td {
    border: 1px solid black;
}
td {
    text-align: center;
}
</style>
<table style="width:100%">
        <tr>
            <th>gains category</th>
            <th>from who</th>
            <th>for what</th>
            <th>amount/what</th>
            <th>recived date</th>
            <th>add date</th>
        </tr>
        {% for gain in all_gains_list %}
                <tr>
                    <td>{{ "gains payment" }}</td>
                    <td>{{ gain.from_who }}</td>
                    <td>{{ gain.for_what }}</td>
                    <td>{{ gain.amount }}</td>
                    <td>{{ gain.description }}</td>
                    <td>{{ gain.recived_date }}</td>
                    <td>{{ gain.add_date }}</td>
                </tr>
          
           
        {% endfor %}
    </ul>
{% else %}
    <p>No gains_list are available.</p>
{% endif %}
