<nav>
            <ul>
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                    {%csrf_token%}
                    <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
<h1>Przychody - pozostałe</h1>
{% if gains_other_list %}
<style>
table, th, td {
    border: 1px solid black;
}
td {
    text-align: center;
}
</style>
    <table style="width:100%">
        <tr>
            <th>from_who</th>
            <th>for what</th>
            <th>what</th>
            <th>description</th>
            <th>recived date</th>
            <th>add date</th>
        </tr>
        {% for gain in gains_other_list %}
            <tr>
                <td>{{ gain.from_who }}</td>
                <td>{{ gain.for_what }}</td>
                <td>{{ gain.what }}</td>
                <td>{{ gain.description }}</td>
                <td>{{ gain.recived_date }}</td>
                <td>{{ gain.add_date }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No gains_other are available.</p>
{% endif %}
