
<h1>Wybór przychodów</h1>
<nav>
            <ul>
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                    {%csrf_token%}
                    <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
<h4>Wybór ketegorii</h4>
<ul>
    <!-- <li><p><a href="/gains_and_losses/all_gains/">All gains</a></p></li>-->
    <li><p><a href="/gains_and_losses/gains_payment/">Gains payment</a></p></li>
    <li><p><a href="/gains_and_losses/gains_item/">Gains item</a></p></li>
    <li><p><a href="/gains_and_losses/gains_other/">Gains other</a></p></li>
</ul>
