
<h1>Wiataj na stronie głównej aplikacji do rejetrowania zysków i strat</h1>

<h4>Aby korzystać w pełni z aplikacji nalezy najpierw się zarejestrować klikając w przycisk "Register", po rejestracji będziesz miał/a możliwość przeglądania swoich zysków (gains) oraz strat(losses) poprzez klikniecię odpowiadających im nazw. Zyski zostały podzielone na 3 kategorie zyski z wypłaty, zyski jako przedmioty oraz inne. Wydatki zostały skumulowane do jedej tabeli ale podczas dodawania każdego wydatku istnieje szereg podkategori (można tworzyć nowe) w 3 głównych kategoriach (rachunki, podstawowe wydatki oraz inne wydatki) dzięki czemu można odpowiednio dany wydatek umiejscowić. 
</h4>
<nav>
            <ul>
                
                    <form class="register-link" action="{% url 'accounts:register' %}" method="post">
                    {%csrf_token%}
                    <button type="submit">Register</button>
                    </form>
                
            </ul>
            <ul>
                
                    <form class="login-link" action="{% url 'accounts:login' %}" method="post">
                    {%csrf_token%}
                    <button type="submit">Login</button>
                    </form>
                
            </ul>
            <ul>
                
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                    {%csrf_token%}
                    <button type="submit">Logout</button>
                    </form>
                
            </ul>
        </nav>
<h4>Wybór ketegorii</h4>
<ul>
    <li><p><a href="/gains_and_losses/gains/">Gains</a></p></li>
    <li><p><a href="/gains_and_losses/losses/">Losses</a></p></li>
</ul>
