
<h1>Straty</h1>
<nav>
            <ul>
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                    {%csrf_token%}
                    <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
{% if losses_list %}
<style>
table, th, td {
    border: 1px solid black;
}
td {
    text-align: center;
}
</style>
    <table style="width:100%">
        <tr>
            <th>category name</th>
            <th>subcategory name</th>
            <th>how much</th>
            <th>for what</th>
            <th>expense date</th>
            <th>add date</th>
        </tr>
        {% for loss in losses_list %}
            {% if loss.subcategories_expenses_bills.name != NULL%}
                <tr>
                    <td>{{ loss.categories_expenses.category_name }}</td>
                    <td>{{ loss.subcategories_expenses_bills.name }}</td>
                    <td>{{ loss.how_much }}</td>
                    <td>{{ loss.for_what }}</td>
                    <td>{{ loss.expense_date }}</td>
                    <td>{{ loss.add_date }}</td>
                </tr>
            {% elif  loss.subcategories_expenses_basic_expenses.name != NULL%}
                <tr>
                    <td>{{ loss.categories_expenses.category_name }}</td>
                    <td>{{ loss.subcategories_expenses_basic_expenses.name }}</td>
                    <td>{{ loss.how_much }}</td>
                    <td>{{ loss.for_what }}</td>
                    <td>{{ loss.expense_date }}</td>
                    <td>{{ loss.add_date }}</td>
                </tr>
            {% elif loss.subcategories_expenses_other_expenses.name != NULL%}
                 <tr>
                    <td>{{ loss.categories_expenses.category_name }}</td>
                    <td>{{ loss.subcategories_expenses_other_expenses.name }}</td>
                    <td>{{ loss.how_much }}</td>
                    <td>{{ loss.for_what }}</td>
                    <td>{{ loss.expense_date }}</td>
                    <td>{{ loss.add_date }}</td>
                </tr>
            {% else %}
                <p>This loss dose not belong to any subcategories </p>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No losses_list are available.</p>
{% endif %}

