
<h1>Register</h1>
<nav>
            <ul>
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                    {%csrf_token%}
                    <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
<form class="site-form" action="/accounts/register/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Register">
</form>
