<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nazwa karty w przeglądarce</title>
</head>
<body>
     
    <h1>cos</h1>
    <nav>
            <ul>
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                    {%csrf_token%}
                    <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    
    
    {% block content %}
    {% endblock %}
    
    <footer>SDA 2020</footer>
</body>
</html>